{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Contact</title>
</head>

<body>
    <section class="sectionMenu">
        {% include 'header.html' %}
    </section>
    <section class="container">
        <form action="" method="post" class="form">
            <h2>Introduce your info and we will contact you</h2>
            {% csrf_token %}
            {{form.as_p}}
            <div class="containerButton">
                <button>Submit</button>
            </div>
        </form>
    </section>
    <section>
        {% include 'footer.html' %}
    </section>
</body>

</html>