{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

<div class="footer">
    <div class="linksFooter">
        <a href="http://www.linkedin.com/in/bpm17"><img src="{% static 'img/linkedin2.png' %}" alt=""></a>
        <a href="https://github.com/BPM17"><img src="{% static 'img/github.png' %}" alt=""></a>
    </div>
    <div class="h6">
        <h6>Todos los derechos reservados</h6>
    </div>
    <div class="privacy">
        <a href="/contact">Contact</a>
        <p>|</p>
        <a href="/privacyNotice">Privacy Notice</a>
    </div>
</div>