{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Infrastructure</title>
</head>

<body>
    <section class="sectionMenu">
        {% include 'header.html' %}
    </section>
    <section class="slogan">
        <h2>We design the infrastructure your company requires to exploit productivity.</h2>
    </section>
    <section class = "technologies">
        <div class = "technology" style="grid-column-start: 1 / 3; grid-column-end: 1 / 3; grid-row-start: 1 / 2; grid-row-end: 1 / 2">
            <div class="logos">
                <img src="{% static 'img/maquinas.png' %}" alt="">
            </div>
            <div>
                <p>The machines your company requires.</p>
            </div>
        </div>
        <div class = "technology" style="grid-column-start: 2 / 3; grid-column-end: 2 / 3; grid-row-start: 1 / 2; grid-row-end: 1 / 2">
            <div class="logos">
                <img src="{% static 'img/cableado.png' %}" alt="">
            </div>
            <div>
                <p>Structured wire for your custom network.</p>
            </div>
        </div>
        <div class = "technology" style="grid-column-start: 3 / 3; grid-column-end: 3 / 3; grid-row-start: 1 / 2; grid-row-end: 1 / 2">
            <div class="logos">
                <img src="{% static 'img/conectividad.png' %}" alt="">
            </div>
            <div>
                <p>The right devices to be connected with the world.</p>
            </div>
        </div>
        <div class = "technology" style="grid-column-start: 1 / 3; grid-column-end: 1 / 3; grid-row-start: 2 / 2; grid-row-end: 2 / 2">
            <div class="logos">
                <img src="{% static 'img/servidor.png' %}" alt="">
            </div>
            <div>
                <p>Technical Support for your machines.</p>
            </div>
        </div>
        <div class = "technology" style="grid-column-start: 2 / 3; grid-column-end: 2 / 3; grid-row-start: 2 / 2; grid-row-end: 2 / 2">
            <div class="logos">
                <img src="{% static 'img/telefonia.png' %}" alt="">
            </div>
            <div>
                <p>Devices and telephone network.</p>
            </div>
        </div>
        <div class = "technology" style="grid-column-start: 3 / 3; grid-column-end: 3 / 3; grid-row-start: 2 / 2; grid-row-end: 2 / 2">
            <div class="logos">
                <img src="{% static 'img/cloud.png' %}" alt="">
            </div>
            <div>
                <p>Information backup with providers.</p>
            </div>
        </div>
    </section>
    <section class="slogan">
        <h2>Leave it in our professional hands.</h2>
        <a href="/contact">Contactanos</a>
    </section>
    <section>
        {% include 'footer.html' %}
    </section>
</body>

</html>