{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <title>Privacy Notice</title>
</head>

<body>
    <section class="sectionMenu">
        {% include 'header.html' %}
    </section>
    <section class="notice">
        <h2>Privacy Notice</h2>
        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Hendrerit blandit et velit, ac imperdiet donec blandit.
            Porta vestibulum dictumst aliquet, tristique hendrerit tristique. Mollis ex amet massa donec hendrerit nam
            dignissim. Tellus faucibus in ridiculus odio; tempor elit euismod? Vivamus ultricies natoque tortor mattis
            adipiscing auctor ex commodo integer. Conubia mattis a accumsan tristique porta.
        </p>
        <p>
            Lacus imperdiet pulvinar fermentum auctor orci. Sapien habitasse arcu at non quam suscipit. Donec tincidunt
            cras adipiscing cubilia netus luctus posuere eget. Commodo litora cras pretium adipiscing eu placerat
            pellentesque. Sagittis vestibulum maecenas egestas iaculis ultrices nisi. Amet libero platea fermentum per
            metus platea tempor euismod. Vel nullam urna varius porttitor, parturient eu class.
        </p>
        <p>
            Conubia consequat sollicitudin eget aenean eu fusce felis dis. Hendrerit nullam etiam ultrices, efficitur
            dignissim ex justo ultrices eu. Mus tortor non torquent hendrerit eleifend venenatis ipsum! Morbi potenti
            lacus vehicula vehicula pharetra. Platea commodo ridiculus pulvinar urna rhoncus massa in eros. Ullamcorper
            nam potenti faucibus sit natoque dapibus aptent tortor. Eros porta accumsan tempor taciti est interdum
            commodo torquent.
        </p>
        <p>
            Ipsum a sagittis gravida, elit litora eros pulvinar. Gravida aliquam curabitur penatibus porta fermentum
            blandit lobortis. Curabitur mollis pretium elementum laoreet maecenas. Integer vehicula et cras facilisi
            lectus. Nunc risus metus montes, eros litora nostra. Finibus porta quis sociosqu ullamcorper malesuada.
            Cubilia conubia vitae est lacinia massa dictum aliquet velit? Dolor tempor tempus interdum lobortis nullam
            rhoncus porta lacinia.
        </p>
        <p>
            Justo curabitur porta taciti morbi placerat pharetra arcu eleifend. Est fringilla ipsum libero; vestibulum
            urna pellentesque aliquet. Eget urna efficitur vehicula vulputate nisi placerat tellus diam. Accumsan
            facilisis pellentesque venenatis phasellus vehicula, cursus ac varius? Porta phasellus montes tristique
            platea nunc praesent. Tristique lobortis varius mollis ridiculus vivamus luctus vulputate. Fusce egestas mi
            imperdiet hendrerit fusce penatibus. Finibus hac velit dolor velit; est venenatis facilisi maecenas ut.
        </p>
        <p>
            Curae class facilisi vel porttitor sodales vel elit. Nullam ac phasellus nascetur dapibus felis non; nisi
            congue lacinia. Convallis volutpat consequat; cursus nibh torquent ultrices consectetur posuere. Urna
            facilisis condimentum non ultricies suspendisse non dui. Lacinia rhoncus elit habitant quam quam nam aptent.
            Gravida elit gravida lobortis cras ipsum ornare eget vivamus non. Senectus non tristique at porta sociosqu
            convallis.
        </p>
        <p>
            Eleifend euismod praesent fusce habitant vulputate. Ligula mollis montes eget phasellus dictum laoreet?
            Finibus consectetur cursus malesuada blandit magna. Nam volutpat facilisis ultricies sociosqu cras magnis a.
            Tincidunt bibendum arcu rutrum ultrices erat eleifend aptent. Ac elementum mus consectetur neque augue.
        </p>
        <p>
            Pellentesque natoque semper diam parturient phasellus arcu nisl quisque. Natoque aliquam justo volutpat;
            fusce sapien praesent. Accumsan condimentum in feugiat sagittis dis. Habitasse mollis purus tellus,
            ridiculus imperdiet justo. Lacinia varius posuere parturient auctor eleifend morbi. Lacus sapien nibh neque
            lectus nulla enim felis libero! Curabitur blandit commodo posuere sed enim neque nunc? Purus hendrerit sed
            ut pellentesque tellus mus.
        </p>
        <p>
            Amet conubia orci dis bibendum cubilia himenaeos. Gravida facilisi primis tortor elit commodo sollicitudin
            natoque class. Scelerisque euismod diam habitant fermentum laoreet magna. Per cursus rhoncus imperdiet
            lacinia aliquam odio, volutpat viverra pulvinar. Sed fermentum blandit orci; nascetur dignissim aliquet
            urna? Diam ac orci venenatis vivamus risus venenatis facilisis consequat. Adipiscing urna dui condimentum
            sagittis auctor fusce dui.
        </p>
        <p>
            Mus aptent tellus potenti et rhoncus; curabitur condimentum eleifend. Inceptos ut primis porttitor vulputate
            ante dignissim posuere. Blandit proin euismod, malesuada ligula lacus ullamcorper feugiat imperdiet. Class
            eleifend taciti condimentum dictum nascetur lacinia! Convallis leo etiam nunc sociosqu gravida nunc rhoncus.
            Efficitur auctor egestas viverra metus fringilla nam. Litora tempus sociosqu eget enim cras egestas; in
            suscipit. Suscipit taciti ex vel netus venenatis turpis. Dis maecenas ligula hac sollicitudin vitae nunc
            cubilia odio id. Placerat ante laoreet at feugiat auctor purus, convallis nibh montes.</p>
        </p>
    </section>
    <section>
        {% include 'footer.html' %}
    </section>
</body>

</html>